

/* Utility classes that don't fit into other categories */

.w-full {
  width: 100%;
}

.text-center {
  text-align: center;
}

.rounded-full {
  border-radius: 9999px;
}

.rounded-none {
  border-radius: 0;
}

.rounded-3xl {
  border-radius: 1.5rem;
}

.rounded-2xl {
  border-radius: 1rem;
}

.rounded-xl {
  border-radius: 0.75rem;
}

.rounded-lg {
  border-radius: 0.5rem;
}

.opacity-0 {
  opacity: 0;
}

.opacity-100 {
  opacity: 1;
}

.overflow-hidden {
  overflow: hidden;
}

.shadow-strong {
  box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.4);
}

